<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/template'">

<head></head>

<section layout:fragment="content">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Add Type
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<th:block th:include="fragments/alerts/info"/>
	
		<form method="POST" th:object="${type}">
			<th:block th:include="fragments/alerts/error"/>
			
			<div class="row">
				<div class="form-group  col-sm-12" th:classappend="${#fields.hasErrors('name')} ? has-error">
					<label for="name" class="control-label">Name</label>
					<input type="text" class="form-control" id="name" autofocus="autofocus" th:field="*{name}"/>
				</div>
			</div>
				
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
</section>

</html>