<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      			xmlns:th="http://www.thymeleaf.org"
      			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      			layout:decorator="'layout/template'">
      			
<head></head>

<body>
	<section layout:fragment="content">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Add Beer
				</h1>
			</div>
		</div>

		<div class="container-fluid">
		
			<div class="alert  alert-danger  alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<i class="fa  fa-exclamation-circle"></i> Beer already exists.
			</div>
		
			<form method="POST" th:object="${beer}" class="form-vertical  js-form-loading">
				
				<div class="row">
					<div class="col-sm-2 form-group">
						<label for="sku">SKU</label>
						<input id="sku" type="text" class="form-control"/>
					</div>
					
					<div class="col-sm-10 form-group">
						<label for="name">Name</label>
						<input id="name" type="text" class="form-control"/>
					</div>
				</div>
		
				<div class="form-group">
					<label for="description">Description</label>
					<textarea id="description" rows="3" class="form-control"></textarea>
				</div>
		
				<div class="row">
					<div class="col-sm-3 form-group">
						<label for="type">Type</label>
						<select id="type" class="form-control">
							<option value="">Select type</option>
						</select>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="flavor">Flavor</label>
						<select id="flavor" class="form-control">
							<option value="">Select flavor</option>
						</select>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="alcoholPercentage">Alcohol percentage</label>
						<div class="input-group">
							<input id="alcoholPercentage" type="text" class="form-control"/>
							<div class="input-group-addon">%</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-sm-6 form-group">
						<label for="origin">Origin</label>
						<div>
							<div class="radio radio-inline">
								<input type="radio" name="origin">
								<label>National</label>
							</div>
							<div class="radio radio-inline">
								<input type="radio" name="origin">
								<label>International</label>
							</div>
						</div> 
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group">
						<label for="price">Price</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input id="price" type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="commission">Commission</label>
						<div class="input-group">
							<input id="commission" type="text" class="form-control"/>
							<div class="input-group-addon">%</div>
						</div>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="commission">Commission</label>
						<div class="input-group">
							<input id="commission" type="text" class="form-control"/>
							<div class="input-group-addon">%</div>
						</div>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="stock">Stock</label>
						<input id="stock" type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Save</button>
				</div>
		
			</form>
		</div>
	</section>
</body>
</html>
