<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<body>
		<h1>Thymeleaf configured!</h1>
		<form method="POST" th:object="${beer}">
			<span th:text="${#fields.hasAnyErrors()}"></span>
			<div th:each="error: ${#fields.detailedErrors()}">
				<span th:text="${error.message}"></span>
			</div>
			<span th:text="${message}"></span>
			<br />
			<br />
			
			<label for="sku">SKU</label>
			<br />
			<input type="text" id="sku" name="sku" />
			<br />
			<br />
			
			<label for="name">Name</label>
			<br />
			<input type="text" id="name" name="name" />
			<br />
			<br />
			
			<label for="description">Description</label>
			<br />
			<textarea rows="5" cols="16" id="description" name="description">
			</textarea>
			<br />
			
			<input type="submit" value="Save" />
		</form>
	</body>
</html>
