<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      			xmlns:th="http://www.thymeleaf.org"
      			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:brewer="http://github.com/rafaelsantos/brewer"
      			layout:decorator="'layout/template'">
      			
<head>
	<link rel="stylesheet" th:href="@{/stylesheets/vendor/upload.min.css}"/>
</head>

<body>
	<section layout:fragment="content">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Add Beer
				</h1>
			</div>
		</div>
	
		<div class="container-fluid">
		
			<form method="POST" th:object="${beer}" class="form-vertical  js-form-loading">
				<brewer:message/>
				
				<div class="row">
					<div class="col-sm-2 form-group bw-required" brewer:errorclass="sku">
						<label for="sku" class="control-label">SKU</label>
						<input id="sku" type="text" class="form-control" th:field="*{sku}"/>
					</div>
					
					<div class="col-sm-10 form-group bw-required" brewer:errorclass="name">
						<label for="name" class="control-label">Name</label>
						<input id="name" type="text" class="form-control" th:field="*{name}"/>
					</div>
				</div>
		
				<div class="form-group bw-required" brewer:errorclass="description">
					<label for="description" class="control-label">Description</label>
					<textarea id="description" rows="3" class="form-control" th:field="*{description}"></textarea>
				</div>
		
				<div class="row">
					<div class="col-sm-3 form-group bw-required" brewer:errorclass="type">
						<label for="type" class="control-label">Type</label>
						
						<div class="bw-field-action">
							<select id="type" class="form-control" th:field="*{type}">
								<option value="">Select type</option>
								<option th:each="type : ${types}" th:value="${type.code}" th:text="${type.name}"/>
							</select>
							
							<div class="bw-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#typeModal">
									<i class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>
					
					<div class="col-sm-3 form-group bw-required" brewer:errorclass="flavor">
						<label for="flavor" class="control-label">Flavor</label>
						<select id="flavor" class="form-control" th:field="*{flavor}">
							<option value="">Select flavor</option>
							<option th:each="flavor : ${flavours}" th:value="${flavor}" th:text="${flavor.description}"/>
						</select>
					</div>
					
					<div class="col-sm-3 form-group bw-required" brewer:errorclass="alcoholPercentage">
						<label for="alcoholPercentage" class="control-label">Alcohol percentage</label>
						<div class="input-group">
							<input id="alcoholPercentage" type="text" class="form-control js-decimal" th:field="*{alcoholPercentage}"/>
							<div class="input-group-addon">%</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-sm-6 form-group bw-required" brewer:errorclass="origin">
						<label for="origin" class="control-label">Origin</label>
						<div>
							<th:block th:each="origin : ${origins}">
								<div class="radio radio-inline">
									<input th:id="|id_${origin}|" type="radio" th:value="${origin}" th:field="*{origin}">
									<label th:for="|id_${origin}|" th:text="${origin.description}"></label>
								</div>
							</th:block>
						</div> 
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group bw-required" brewer:errorclass="value">
						<label for="price" class="control-label">Price</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input id="price" type="text" class="form-control js-decimal" th:field="*{value}"/>
						</div>
					</div>
					
					<div class="col-sm-3 form-group" brewer:errorclass="commission">
						<label for="commission" class="control-label">Commission</label>
						<div class="input-group">
							<input id="commission" type="text" class="form-control js-decimal" th:field="*{commission}"/>
							<div class="input-group-addon">%</div>
						</div>
					</div>
					
					<div class="col-sm-3 form-group bw-required" brewer:errorclass="stockQuantity">
						<label for="stock" class="control-label">Stock</label>
						<input id="stock" type="text" class="form-control js-plain" th:field="*{stockQuantity}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-12">
						<input type="hidden" th:field="*{image}">
						<input type="hidden" th:field="*{contentType}">
					
						<label class="control-label">Image</label>
						
						<div class="js-image" th:attr="data-url-images=@{/images}">
							<div id="upload-drop" class="bw-upload">
								<i class="glyphicon glyphicon-cloud-upload"></i>
								<span>Drag image here or</span>
								<a class="bw-upload-form-file">select <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Save</button>
				</div>
		
			</form>
		</div>
		
		<div th:replace="type/modal/add :: modal"></div>
		<th:block th:replace="hbs/image"></th:block>
	</section>
	<th:block layout:fragment="javascript">
		<script th:src="@{/javascripts/type-save.js}"></script>
		<script th:src="@{/javascripts/vendor/uikit.min.js}"></script>
		<script th:src="@{/javascripts/vendor/upload.min.js}"></script>
		<script th:src="@{/javascripts/vendor/handlebars.min.js}"></script>
		<script th:src="@{/javascripts/upload.js}"></script>
	</th:block>
</body>
</html>
