<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	            xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination (page)">
    <div class="col-sm-12  text-center" th:if="${not page.empty}">
        <nav>
            <ul class="pagination  pagination-sm" th:with="currentPage=${page.current}">
                <li th:class="${page.first} ? disabled">
                    <a th:href="${page.urlToPage(currentPage - 1)}" th:remove="${page.first} ? tag"><span>&laquo;</span></a>
                </li>
                <th:block th:each="current : ${#numbers.sequence(1, page.total)}" th:with="pageNumber=${current - 1}">
                    <li th:class="${currentPage == pageNumber} ? active">
                        <a th:href="${page.urlToPage(pageNumber)}">[[${current}]]</a>
                    </li>
                </th:block>
                
                <li th:class="${page.last} ? disabled">
                    <a th:href="${page.urlToPage(currentPage + 1)}" th:remove="${page.last} ? tag"><span>&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>
</html>